
**::after * ::before{

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
:root{

    --headerscol:rgb(47, 96, 129);
    --saidcol:black;
    
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.headers{
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--headerscol);
    display: flex;
    flex-direction: row;
}
.headFast{
    width: 50%;
    height: 100%;
   display: flex;
   align-items: center;

}
h1{
     font-size: 30px;
    margin: 0px;
    align-items: center;
    margin-left: 60px;
 

}
strong{
    color: azure;
}
.search{
   
   display:flex ;
align-items: center;
    justify-content: center;
}
.searchstyle{
    width: 290px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-radius: 10px 10px 10px 10px;
    
}
input{
    height: 30px;
    width: 260px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px  10px;
    padding: 4px;
}
 

i{
    margin-left: 5px;
    padding: 5px;
   display: flex;
    cursor: pointer;
}

.check{
    display: none;
    visibility: hidden;
    -webkit-appearanc:none;
}

.tag{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 33px;
    left: 15px;
    z-index: 1;
box-shadow: 0px 1px 1.5px 1.5px rgb(255, 255, 255);
border-radius: 2px;
}
.tag .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: rgb(134, 72, 249);
    border-radius: 50px;

    transition: 0.5s ease;
}

.tag .top_line{

    top: 30%;
    left: 10%;
    transition: translate(-50%,-50%);
}
.tag .middle_line{
    top: 50%;
    left: 10%;
     transition: translate(-50%,-50%);
}

.tag .bottom_line{

    top: 70%;
    left: 10%;
    
    transition: translate(-50%, -50%);

}
.check:checked ~ .tag .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
     transform: rotate(45deg);
     background-color: rgb(0, 0, 0);

}
.check:checked ~ .tag .middle_line{

    opacity: 0;
    transform: translate(20px);
    transition: .0s ease;

}
.check:checked ~ .tag .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
    background-color: rgb(156, 8, 8);

}





/*----------------------------said menu_______________________________*/


.leftside{
    height: 500px;
    width: 200px;
    margin: 0;
    background-color: black;
    box-shadow: 1px 1px 0px 1px;
    border-radius: 0px 0px 10px 0px ;
    transform: translate(-220px);
    transition: .5s ease;
    position: fixed;
}
.leftside ul{
  margin: 0;
  padding: 0;
  display: block;

}
.leftside ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    
    
    
}
.leftside ul li a{
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    color:azure;
    margin-top: 20px;
    padding: 5px;

}

.check:checked ~ .leftside{
    transform: translate(0);
    
}